In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.linspace(0,40,num = 40)
df = pd.DataFrame({'A':data})

In [16]:
#def MACD(span_short=12,span_long=26,span_dif = 9):
span_short = 12
span_long=26
span_dif = 9
EMA_short = df.ewm(span=span_short,adjust = False).mean()
EMA_long = df.ewm(span=span_long,adjust = False).mean()
dif = EMA_short - EMA_long
dea = dif.ewm(span = span_dif, adjust = False).mean()
macd = (dif - dea) * 2
macd.plot.line
#    return macd

In [12]:
m = MACD()

In [6]:
EMA_long

            A
0    0.000000
1    0.075973
2    0.222293
3    0.433747
4    0.705511
5    1.033118
6    1.412431
7    1.839620
8    2.311140
9    2.823705
10   3.374275
11   3.960037
12   4.578382
13   5.226896
14   5.903347
15   6.605663
16   7.331929
17   8.080371
18   8.849347
19   9.637334
20  10.442926
21  11.264817
22  12.101801
23  12.952760
24  13.816658
25  14.692537
26  15.579510
27  16.476754
28  17.383509
29  18.299071
30  19.222786
31  20.154052
32  21.092308
33  22.037038
34  22.987760
35  23.944033
36  24.905443
37  25.871612
38  26.842186
39  27.816839

           A
0   0.000000
1   0.081818
2   0.226805
3   0.419631
4   0.647742
5   0.900897
6   1.170789
7   1.450717
8   1.735320
9   2.020341
10  2.302441
11  2.579039
12  2.848174
13  3.108394
14  3.358664
15  3.598287
16  3.826838
17  4.044108
18  4.250065
19  4.444811
20  4.628554
21  4.801583
22  4.964245
23  5.116932
24  5.260064
25  5.394077
26  5.519421
27  5.636542
28  5.745887
29  5.847894
30  5.942989
31  6.031584
32  6.114078
33  6.190851
34  6.262268
35  6.328674
36  6.390397
37  6.447748
38  6.501020
39  6.550490

           A
0   0.000000
1   0.016364
2   0.058452
3   0.130688
4   0.234099
5   0.367458
6   0.528124
7   0.712643
8   0.917178
9   1.137811
10  1.370737
11  1.612397
12  1.859553
13  2.109321
14  2.359190
15  2.607009
16  2.850975
17  3.089601
18  3.321694
19  3.546317
20  3.762765
21  3.970528
22  4.169272
23  4.358804
24  4.539056
25  4.710060
26  4.871932
27  5.024854
28  5.169061
29  5.304827
30  5.432460
31  5.552284
32  5.664643
33  5.769885
34  5.868361
35  5.960424
36  6.046419
37  6.126684
38  6.201552
39  6.271339

           A
0   0.000000
1   0.130908
2   0.336706
3   0.577888
4   0.827287
5   1.066877
6   1.285328
7   1.476149
8   1.636283
9   1.765060
10  1.863409
11  1.933284
12  1.977243
13  1.998146
14  1.998950
15  1.982556
16  1.951725
17  1.909013
18  1.856741
19  1.796986
20  1.731578
21  1.662109
22  1.589947
23  1.516257
24  1.442016
25  1.368035
26  1.294977
27  1.223376
28  1.153653
29  1.086133
30  1.021058
31  0.958599
32  0.898870
33  0.841933
34  0.787813
35  0.736500
36  0.687957
37  0.642127
38  0.598937
39  0.558301